@import './styles/pages/home.css';
@import 'map.css';

div.screen{
    padding-left: 0em;
    font-family: OpenSans-Light;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: normal;
  }

  div#watch-face{
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    display: block;
    overflow: hidden;
  }

.shapeIntro {
    font-size: 30px;
    color: red;
}

#canvas {
    padding: 0;
    margin: auto;
    border: 1px solid;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4em;
}


.spike {

margin-left: 115px;
margin-top: 125px

}
