@import './styles/pages/home.css';
@import 'map.css';

.spike {
  margin-left: 60px;
  margin-top: 50px
}

#spike-text{
  margin-left: 18px;
}

.shapeIntro {
  font-size: 27px;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0.40em;
  top: 0.2em;
}

#centerImage{
  position: absolute;
  left: 6.30em;
  top: 5.2em;
}
#leftImage{
  position: absolute;
  left: .0em;
  top: 7.0em;
}
#rightImage{
  position: absolute;
  right: -.0em;
  top: 7.0em;
}
#bottomImage{
  position: absolute;
  bottom: -.0em;
  left: 7.8em;
}